# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual env
backend/venv/

# Jupyter / cache
.ipynb_checkpoints/
backend/.pytest_cache/

# Node / React
frontend/node_modules/
frontend/dist/
frontend/build/

# OS files
.DS_Store

# Env files
*.env

# Optional: ignore large raw data
# backend/data/*.csv

